@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/ionicons.css">

   
</head>
<body>
    
    <header class="header">
        <div class="headerContent">
            <div class="headerColumns">
                <div class="logo">
                    <a asp-controller="home" asp-action="Index"><img src="~/images/logo.png" width="76px" /></a>
                </div>
                <div class="topHeader">
                    <div class="welcomLogin">
                        <i class="icon ion-android-lock"></i> <label>Welcome to our Shop, <a asp-action="Login" asp-controller="Account"> Login</a></label>
                    </div>
                    <div class="register">
                        <i class="icon ion-android-person"></i> <label><a asp-controller="Account" asp-action="Register"> Register</a></label>
                    </div>
                    <div class="giftCart">
                        <i class="icon ion-card"></i> <label><a href="#"> Gift Card</a></label>
                    </div>
                </div>
                <div class="searchHeader">
                    <div class="CartHeaderDiv">
                        <a href="#"><i style="margin-right: 10px" class="icon ion-android-cart"></i>  Show Cart <label>0</label> </a>
                    </div>
                    <div class="SearchTool">
                        <form>
                            <input type="text" placeholder="Search your Procuct, Brand or ..." />
                            <button type="submit" class="searchIcon"><i class="icon ion-android-search "></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="headerMenus">
            <div class="MenuItems">
                <nav>
                    <a class="MenuItem" href="#">Digital Products<i class="icon ion-ios-arrow-down"></i></a>
                    <a class="MenuItem" href="#">Home Furniture<i class="icon ion-ios-arrow-down"></i></a>
                    <a class="MenuItem" href="#">Health & Beauty<i class="icon ion-ios-arrow-down"></i></a>
                    <a class="MenuItem" href="#">Sports & Entertainment<i class="icon ion-ios-arrow-down"></i></a>
                    <a class="MenuItem" href="#">Tools<i class="icon ion-ios-arrow-down"></i></a>
                    <a class="MenuItem" href="#">Arts and Culture<i class="icon ion-ios-arrow-down"></i></a>
                </nav>
            </div>
        </div>

    </header>

        @RenderBody()
        

    <footer>

        <div class="footerUpperContent">
            <div class="footerContent">
                <label>24 Hours of the day, 7 days of the week, waiting for your call...</label>
                <label>info@medialight.se</label>
                <label style="float: right;">www.medialight.se</label>
            </div>
        </div>
        <div class="footerMiddleContent">
            <div class="footerContent">
                <a asp-controller="Contacts" asp-action="Index" class="navbar-nav" >Contacts List</a>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
