@{
    ViewData["Title"] = "Home Page";
}

<div class="Mycontainer">
    <main class="main">
        <div class="FirstImg">
            <img class="" src="~/images/Apple.jpg" width="960" />
        </div>
        <div class="middleWare">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active">Samsung</li>
                    <li data-target="#myCarousel" data-slide-to="1">LG</li>
                    <li data-target="#myCarousel" data-slide-to="2">Sony</li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/images/samsung.jpg" width="680"  alt="">
                    </div>

                    <div class="item">
                        <img src="~/images/LG-G6.png" width="680"  />
                    </div>

                    <div class="item">
                        <img src="~/images/xperiamultiple.jpg" width="680"  />
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
        <div class="sideBar">
            <img src="~/images/samsung-super-zoom.jpg" width="270" alt="">
        </div>
    </main>
</div>
<div class="Rent">
    <div class="RentForm">
        <form action="" method="post">
            <h3>Find Your Dream Home</h3>
            <div class="upform">
                <div class="textinput">
                    <input type="text" class="CityInput" placeholder="City, Region, ..." />
                </div>
            </div>
            <div class="subform">
                <div class="textinput">
                    <input type="number" placeholder="Min Sqm" />
                </div>
                <div class="textinput">
                    <input type="number" placeholder="Max Sqm" />
                </div>
                <div class="buttonInput">
                    <input type="submit" value="Find" />
                </div>
            </div>
        </form>
    </div>
</div>